<%= stylesheet_link_tag 'test' %>



  <div id="container">
<% if user_signed_in? %>
  
  <%if flash[:notice]  %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
<h1 class="main_title">一覧</h1>
  <% @questions.each do |question| %>
  <div class="button">
    <%= link_to "編集",  edit_question_path(question) %>
    <%= link_to "削除",  question_path(question), method: :delete, data:{confirm:"本当に削除しますか？"} %>
  </div>
  <table class="question">
    <tr><th>問:<%= question.quiz %></th></tr>
    <tr><th class="border_dotted look">答:<span class="hide"><%= question.answer %><span></th></tr>
    <tr><th class="border_dotted"><%= question.user.nickname.present? ? "作成者：#{question.user.nickname}" : "作成者NO.#{question.user.id}" %><span></th></tr>
  </table>
    <!--userはもともと呼び出せないため、
    アソシエーションというものを設定する必要がある。
    モデル同士の相互関係のようなもの。-->
  <% end %>
<% else %>
<!--ログインまたは新規登録への誘導画面-->
<%= stylesheet_link_tag 'admin' %>
<div class="flex_box">
  
<div class="box_left">
    <h1 class="main_title"><span>ログイン</span>または<span>新規登録</span>してください</h1>
  <div class="buttons">
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "新規登録", new_user_registration_path %>
  </div>
</div>
<div class="box_right">
  <p>
    <img src= <%= image_path("Launching-amico.png")%> ></img>
  </p>
</div>
</div>
<% end %>
</div>