<%= stylesheet_link_tag 'test' %>
<%= stylesheet_link_tag 'admin' %>
<div id="container">
  <div class="flex_box">
    <div class="box_left">
<h2 class="main_title">新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <!--ニックネームを登録する機能を追加-->
  <div class="field">
    <%= f.label "ニックネーム" %> <em>(10文字まで)</em><br />
    <%= f.text_field :nickname, autofocus: true, maxlength: "10" %>
  </div>
  
  
  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %>
    <% if @minimum_password_length %>
    <em>(最小<%= @minimum_password_length %>文字)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label "パスワード(確認)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="buttons">
    <%= f.submit "新規登録" %>
  </div>
<%= render "devise/shared/links" %>
<% end %>

    </div>
    <div class="box_right">
      <p>
        <img src= <%= image_path("add-user-amico.png")%> ></img>
      </p>
    </div>
  </div>
</div>


