<%= stylesheet_link_tag 'test' %>
<%= stylesheet_link_tag 'show' %>

<div id="container">
  <%= render 'templates/notice'%>
<h1 class="main_title"><span><%= @user.nickname.present? ? @user.nickname : "ゲスト#{@user.id}" %></span>さんの<br class="pc_none">マイページです</h1>
    
<% @questions.each do |question| %>
<!--検索窓のフォームでID渡せなかったので、ここで無理やり分岐。-->
<!--隠れフォームで実装できれば、deviceのテンプレを利用することができるので、この記述は必要ない。-->
<% if question.user_id == current_user.id %>
<!--アソシエーション設定してるから、question使える。-->
  <div class="button">
    <%= link_to "編集",  edit_question_path(question) %>
    <%= link_to "削除",  question_path(question), method: :delete, data:{confirm:"本当に削除しますか？"} %>
  </div>
  <table class="question">
    <tr><th>問:<%= question.quiz %></th></tr>
    <tr><th class="border_dotted look">答:<span class="hide"><%= question.answer %><span></th></tr>
  </table>
<% else %>
<% end %>
  <% end %>
</div>