<%= stylesheet_link_tag 'test' %>
<%= stylesheet_link_tag 'admin' %>
<div id="container">
  <div class="flex_box">
    <div class="box_left">
      
    
<h1 class="main_title">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "ログイン状態を保持" %>
    </div>
  <% end %>

  <div class="buttons">
    <%= f.submit "ログイン" %>
  </div>
<%= render "devise/shared/links" %>
<% end %>
  
  
  
  
    </div>
    <div class="box_right">
      <p>
        <img src= <%= image_path("mobile-login-amico.png")%> ></img>
      </p>
    </div>
  </div>
</div>




