<!DOCTYPE html>
<html>
  <head>
    <title>WordsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% path = request.fullpath %>
      <header>
        
      <% if user_signed_in? %>
        <div class="button_box_right">
        <%= link_to '赤シートにさようなら', root_path %>
        </div>
      
        <% if path.include?('edit') || path.include?('new') %>
        <% else %>
          <div class="button_container_right sp_none">
            <div class="button_box_left search_box">
              <%= form_tag('/questions', method: :get) do %>
              <%= label_tag :問題文： %>
              <%= text_field_tag :search_quiz %>
              <%= label_tag :回答： %>
              <%= text_field_tag :search_answer %>
              <%= submit_tag '検索' %>
          <% end %>
            </div>
      <div class="button_box_left">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </div>
      <div class="button_box_left">
        <%= link_to '新規投稿', new_question_path %>
      </div>
      <div class="button_box_left">
        <%= link_to 'マイページへ', user_path(current_user.id) %>
      </div>
    <% end %>
  
  
  
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
    <% end %>
          </div>
      </header>
    <%= yield %>
  </body>
</html>
